@import '~common/styles/panel';
@import '~common/styles/media';

.active-group-panel {
  @include panel;
  flex: 1 1 auto;

  @include tablet-or-desktop {
    margin-top: $margin;
  }

  @include phone-landscape {
    flex: 1 1 0;
  }

  .scrollable {
    padding: 0 0.5em 0.5em;
    overflow: auto;

    .active-group-box + .active-group-box {
      border-top: 1px solid $title-color;
    }

    .active-group-box {
      @include panelbox;

      .group-type {
        font-weight: bold;
        font-style: italic;
      }

      .group-timer {
        font-weight: bold;
      }
    }
  }
}
