@import '~common/styles/reset';
@import '~common/styles/colors';
@import '~common/styles/media';

@import '~common/components/range';
@import '~common/components/button';

html {
  body {
    background-color: $background-color;

    .app {
      color: $text-color;
      font-size: 100%;
      min-width: 20em;
      overflow: hidden;
      transition-duration: .2s;
      
      @include tablet-or-desktop {
        padding: 0 20em;
      }

      @include mobile {
        display: flex;
        position: fixed;
        width: 100%;
        align-items: stretch;
        flex-direction: column;
        height: calc(100% - 3.5em);
        padding-bottom: 3.5em;
      }

      @include small-mobile {
        font-size: 0.9em;
      }
    }
  }
}
