@import '~common/styles/reset';
@import '~common/styles/colors';
@import '~common/styles/media';

@import '~common/components/range';
@import '~common/components/button';

html {
  body {
    background-color: $background-color;

    .app {
      color: $text-color;
      font-size: 100%;
      min-width: 20em;
      overflow: hidden;
      transition-duration: .2s;
      
      @include tablet-or-desktop {
        padding: 0 20em;

        &.overlaid {
          min-width: 30em;
          padding: 0 15em;
        }
      }

      @include phone {
        display: flex;
        position: fixed;
        width: 100%;
        align-items: stretch;
        flex-direction: column;
        height: calc(100% - 3.5em);
        padding-bottom: 3.5em;

        &.no-nav {
          height: 100%;
        }
      }

      @include small-phone {
        font-size: 0.9em;
      }

      .mobile-panel-container {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        @include phone-landscape {
          flex-direction: row;
        }
      }
    }
  }
}
