@import '~common/styles/panel';
@import '~common/styles/media';

.restaurant-panel {
  @include panel;
  flex: 1 1 auto;

  @include tablet-or-desktop {
    margin-top: $margin;
  }

  .scrollable {
    padding: 0 0.5em 0.5em;
    overflow: auto;

    .restaurant-box+.restaurant-box {
      border-top: 1px solid $title-color;
    }

    .restaurant-box {
      @include panelbox;

      .time-display {
        font-weight: bold;
      }
    }
  }
}
