@import '~common/styles/colors';

.mobile-navbar {
  background-color: $panel-color;
  display: flex;
  justify-content: space-around;
  border-top: .1em $border-color solid;
  border-bottom: .1em $border-color solid;
  box-shadow: 0 .1em .2em $panel-shadow-color;

  .mobile-navbar-tab {
    cursor: pointer;
    flex: 1 0 auto;
    font-weight: bold;
    padding: 1em;
    text-align: center;

    &.selected {
      border-bottom: 3px $title-color solid;
    }
  }
}
