@import 'panel-measurements';
@import '~common/styles/colors';

@mixin panel {
  background-color: $panel-color;
  border: .1em $border-color solid;
  box-shadow: 0 .1em .2em $panel-shadow-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $margin;
  margin-top: 0;
  overflow: auto;
  position: relative;

  .toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: .25em;

    .button {
      flex: 1 1 auto;
    }
  }

  .empty-text-container {
    align-items: center;
    color: $title-color;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin: 1em 3em 2em;
    text-align: center;
  }
}

@mixin centerpanel {
  @include panel;
  margin-left: 0;
  margin-right: 0;
  max-width: 50em;
  min-width: 20em;
  width: 100%;
  z-index: 2;
}

@mixin panelbox {
  font-size: .8em;
  padding: 1em 0 .5em;
  text-align: center;

  .box-title,
  .info,
  .link,
  .toolbar {
    margin-bottom: .25em;
  }

  .box-title {
    color: $title-color;
    font-weight: bold;
  }

  .link {
    color: $title-color;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      color: $hover-color;
    }
  }
}

.panel-header {
  box-shadow: 0 2px 4px white;
  font-weight: bold;
  padding: .4em;
  text-align: center;
  z-index: 1;
}

@mixin xbutton {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
  transition-duration: .2s;
  user-select: none;

  &:hover {
    color: red;
  }
}

.close-button {
  @include xbutton;
  font-size: 1.5em;
  margin-right: .35em;
  margin-top: -.25em;
  position: absolute;
  right: 0;
}
