@import 'panel';

.outing-panel {
	@include centerpanel;
	max-width: 25em;
	padding: 0 0.4em 0.4em;
	text-align: center;

	.panel-header {
		color: $title-color;
		padding-bottom: 0;
	}

	.restaurant-name {
		margin: 0.4em;
        font-size: 0.8em;
        font-weight: bold;
	}
}