@import '~common/styles/reset';
@import '~common/styles/colors';

@import '~common/components/range';
@import '~common/components/button';

html {
  body {
    background-color: $background-color;

    .app {
      color: $text-color;
      font-size: 100%;
      min-width: 20em;
      overflow: hidden;
      transition-duration: .2s;
      
      @media (min-width: 1224px) {
        padding: 0 20em;
      }

      @media (max-width: 1223px) {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        height: 100vh;
      }
    }
  }
}
