@import '~common/styles/colors';

.mobile-bottom-navbar {
  background-color: $panel-color;
  display: flex;
  margin-top: auto;
  border-top: .1em $border-color solid;
  // box-shadow: 0 -.1em .2em $panel-shadow-color;
  padding: 3px 0 6px;

  .mobile-bottom-navbar-tab {
    text-align: center;
    flex: 1 0 0;
    padding: 5px;

    .tab-label {
      font-size: 0.8em;
      margin-top: 2px;
    }
  }
}