@import '~common/styles/panel';

.my-account-panel {
  @include panel;
  padding: $margin;
  align-items: center;
  z-index: 2;

  .error {
    color: red;
  }

  .panel-header {
    margin: -$margin;
  }

  .account-settings-editor {
    margin-top: 0.75em;
  }

  .account-section {
    margin-top: $margin * 2;
    text-align: center;

    .account-section-header {
      padding: .1em;
    }

    .current-user {
      color: $title-color;
      font-style: italic;
    }

    &.ok {
      color: #008000;
    }

    &.alert {
      color: #ff0000;
    }
  }

  .button {
    margin-top: .5em;
    width: fit-content;
  }
}
