@import '~common/styles/colors';
@import '~common/styles/panel-measurements';

.title {
  font-size: 2.8em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: ($margin / 2.5) 0;
  z-index: 2;
  pointer-events: none;

  @media screen and (min-width: 1224px) {
    position: absolute;
    top: 0;
    margin-bottom: auto;
  }

  .heading {
    vertical-align: middle;
    color: $title-color;
    text-shadow: 0 0.05em 0.1em $text-shadow;
  }

  .subheading {
    margin-top: 0.2em;
    font-size: 0.35em;
    text-shadow: 0 0.1em 0.2em $text-shadow;
  }
}
