@import '~common/styles/colors';
@import '~common/styles/media';
@import '~common/styles/panel-measurements';

.title {
  font-size: 2.8em;
  // font-weight: bold;
  width: 100%;
  text-align: center;
  margin: ($margin / 2.5) 0;
  z-index: 2;
  pointer-events: none;

  @include phone-landscape {
    font-size: 1.5em;
  }

  @include tablet-or-desktop {
    position: absolute;
    top: 0;
    margin-bottom: auto;
  }

  .heading {
    vertical-align: middle;
    color: $title-color;
    text-shadow: 0 0.05em 0.1em $text-shadow;
    width: 12rem;
    margin: auto;

    .utensil-logo {
      filter: drop-shadow(1px 1px 1px $svg-shadow);
    }
  }

  .subheading {
    margin-top: 0.2em;
    font-size: 0.35em;
    text-shadow: 0 0.1em 0.2em $text-shadow;
  }
}
